In [1]:
import statsmodels.api as sm
import scipy.stats as stats
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

Q1) A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

## Step 1
##### Null Hypothesis is want we want to prove
Null Hypothesis: A=B 

Alternative Hypthosis: A≠B
## Step 2
##### Decide a cut-off value
###### Significance 5%
###### Alpha = 0.05
###### As it is a two-tailed test
###### alpha/2 = 0.025

## Step 3
##### Collect evidence

In [2]:
Q1= pd.read_csv("Cutlets.csv")

In [33]:
Q1.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [4]:
Q1.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Unit A  35 non-null     float64
 1   Unit B  35 non-null     float64
dtypes: float64(2)
memory usage: 688.0 bytes

In [5]:
Q1.dtypes

Unit A    float64
Unit B    float64
dtype: object

### STEP 4: Finding the p value corresponding to X bar

In [6]:
sm.stats.ttest_ind(Q1["Unit A"], Q1["Unit B"], alternative='two-sided')

(0.7228688704677945, 0.47223947245995745, 68.0)

### STEP 5: Compare Evidences with Hypothesis using t-statistics

In [7]:
alpha = 0.025
print('Significnace=%.3f, p=%.3f' % (alpha, 0.47223947245995745))
if 0.47223947245995745 <= alpha:
    print('We reject Null Hypothesis there is a significance difference between two Units A and B')
else:
    print('We fail to reject Null hypothesis')

Significnace=0.025, p=0.472
We fail to reject Null hypothesis

Q2) A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
   
  Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

### Step 1
Null Hypothesis is want we want to prove

Null Hypothesis: L1=L2=L3=L4

Alternative Hypthosis: Atleast one is different

### Step 2
Decide a cut-off value

Significance 5%

Alpha = 0.05

### Step 3
Collect evidence

In [8]:
Q2= pd.read_csv ('LabTAT.csv')

In [34]:
Q2.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [10]:
Q2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laboratory 1  120 non-null    float64
 1   Laboratory 2  120 non-null    float64
 2   Laboratory 3  120 non-null    float64
 3   Laboratory 4  120 non-null    float64
dtypes: float64(4)
memory usage: 3.9 KB

In [11]:
Q2.dtypes

Laboratory 1    float64
Laboratory 2    float64
Laboratory 3    float64
Laboratory 4    float64
dtype: object

### STEP 4: Finding the p value corresponding to X bar

In [12]:
stats.f_oneway(Q2.iloc[:,0],Q2.iloc[:,1],Q2.iloc[:,2],Q2.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

### Step 5: Compare evidence with Hypothesis using ANOVA

In [13]:
alpha = 0.05
print('Significnace=%.3f, p=%.3f' % (alpha, 2.1156708949992414e-57))
if 2.1156708949992414e-57 <= alpha:
    print('We reject Null Hypothesis there is a significance difference between TAT of reports of the laboratories')
else:
    print('We fail to reject Null hypothesis')

Significnace=0.050, p=0.000
We reject Null Hypothesis there is a significance difference between TAT of reports of the laboratories

Q3)Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

## Step 1
##### Null Hypothesis is want we want to prove
Null Hypothesis: male-female buyer rations are similar across regions

Alternative Hypthosis: male-female buyer rations are different across regions
## Step 2
##### Decide a cut-off value
###### Significance 5%
###### Alpha = 0.05


## Step 3
##### Collect evidence

In [14]:
from pandas import DataFrame,Series

In [15]:
a= {'East':[50, 550],
    'West':[142, 351],
    'North':[131, 480],
    'South':[70, 350]}

In [16]:
df = pd.DataFrame(a, index=['Males','Females'])
df

         East  West  North  South
Males      50   142    131     70
Females   550   351    480    350

### STEP 4: Finding the p value corresponding to X bar

In [17]:
from scipy.stats import chi2_contingency

In [18]:
table= [[50,142,131,70],
[550,351,480,350]]

In [19]:
stat, p, dof, expected = chi2_contingency(table)
print("Statistics = ",stat,'P_Value = ', p, 'degree of freedom =', df,)

Statistics =  80.27295426602495 P_Value =  2.682172557281901e-17 degree of freedom =          East  West  North  South
Males      50   142    131     70
Females   550   351    480    350

### Step 5: Compare Evidences with Hypothesis using Chi Square - Test of Independence

In [20]:
alpha = 0.05
print('significance=%.3f, p=%.3f' % (alpha, 2.682172557281901e-17))
if 2.682172557281901e-17 <= alpha:
    print('We reject Null Hypothesis as there is a significant association or dependency between the gender based buyer rations across regions')
else:
    print('We failed to reject Null Hypothesis')

significance=0.050, p=0.000
We reject Null Hypothesis as there is a significant association or dependency between the gender based buyer rations across regions

Q4) TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

### Step 1
Null Hypothesis is want we want to prove

Null Hypothesis: 

Alternative Hypthosis: 

#### Step 2
Decide a cut-off value

Significance 5%

Alpha = 0.05

### Step 3
Collect evidence

In [21]:
Q4= pd.read_csv('Costomer+OrderForm.csv')

In [35]:
Q4.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [23]:
Q4.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [24]:
Q4.dtypes

Phillippines    object
Indonesia       object
Malta           object
India           object
dtype: object

In [25]:
Q4.max()

Phillippines    Error Free
Indonesia       Error Free
Malta           Error Free
India           Error Free
dtype: object

### STEP 4: Finding the p value corresponding to X bar

In [26]:
print(Q4['Phillippines'].value_counts(), Q4['Indonesia'].value_counts(),Q4['Malta'].value_counts(),Q4['India'].value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64 Error Free    267
Defective      33
Name: Indonesia, dtype: int64 Error Free    269
Defective      31
Name: Malta, dtype: int64 Error Free    280
Defective      20
Name: India, dtype: int64

In [27]:
table1 = [[271,267,269,280],
                    [29,33,31,20]]

In [28]:
table1

[[271, 267, 269, 280], [29, 33, 31, 20]]

In [29]:
stat, p, df, exp = stats.chi2_contingency(table1)
print("Statistics = ",stat, 'degree of freedom =', df, 'Expected Values = ', exp)

Statistics =  3.858960685820355 degree of freedom = 3 Expected Values =  [[271.75 271.75 271.75 271.75]
 [ 28.25  28.25  28.25  28.25]]

In [30]:
observed = [271, 267, 269, 280, 29, 33, 31, 20]
expected = [271.75, 271.75, 271.75, 271.75, 28.25, 28.25, 28.25, 28.25]

In [31]:
stats.chisquare(f_obs=observed, f_exp=expected)

Power_divergenceResult(statistic=3.858960685820355, pvalue=0.7958716079649663)


### Step5: Compare Evidences with Hypothesis using Chi Square - Goodness of fit

In [32]:
alpha = 0.05
print('Significnace=%.3f, p=%.3f' % (alpha, 0.7958716079649663))
if 0.7958716079649663 <= alpha:
    print('We reject Null Hypothesis ')
else:
    print('We fail to reject Null hypothesis')

Significnace=0.050, p=0.796
We fail to reject Null hypothesis